.body{
    background-color: #050517;
    
}
.cus-bg{
    background-color: #CF5C36;
    color: red;
    font-size: large;
    font-weight: 900;
    
}
.custom-logo{
    margin-left: 20px;
}
.custom-img{
    border: solid white;
    border-radius: 50px;
    width: 50px;
}
 .custom-nav{
    justify-content: center;
    gap: 50px;
    width: 100%;
}
.custom-bar{
    color: red;
}


.mainpara{
    color: #EFC88B;
    align-content: center;
}
.mainimg{
    width: 500px;
    border-radius: 25px;
}
.maincus{
    padding: 20px;
}
.maincontainer{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.footerpara{
    color: #F4E3B2;
    width: 100%;
    text-align: center;
    border-top: solid red;
    border-top-style: dashed;
}
div>h6{
    line-height: 35px;
}
.social{
    margin: 20px 0px 20px 20px;
    color: #D3D5D7;
}
.social:hover{
    color: #CF5C36;
}
.mainprog{
    margin-top: 20px;
}
.mainp1{
    text-align: justify;
}
.contact{
    
    
    /* border: solid red; */
    margin-left: 80px;
    
}
.contactlink{
    text-decoration: none;
    display: block;
    color: #D3D5D7;
    margin: 20px 0px 0px 20px;
}
.contactlink:hover{
    color: #CF5C36;
}
.contactmain{
    
}